.phobert-logo-container{
    height: 22vh;
}
.phobert-logo{
    margin-top: 8px;
    max-width: 80px;
    max-height: 80px;
    width: auto;
    height: auto;
    border-radius: 20px;
}
.chatbar-container{
    display: flex;
    height: 50px;
    align-content: end;
    position: fixed;
    left: 50vw;
    width: 48vw;
    top: 90vh;
}
.chatbar-input {
    align-self: center;
    width: 92%;
    /* width: 844px; */
    height: 30px;
    padding: 8px;
    border: 1.4px solid #000;
    /* border-radius: 18px; */
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    font-size: 20px;
}
.chatbar-icon{
    align-self: center;
    height: 60px;
    width: auto;
    margin-left: 18px;
}
.submit-form{
    position: fixed;
    display: flex;
    align-items: center;
    margin-left: 48px;
    margin-right: 48px;
    margin-top: 20px;
}

.submit-form-context{
    border: 2px solid;
    width: 80vw;
    height: 80px;
    border-radius: 16px;
    padding: 8px 8px 8px 8px;
    font-size: 20px;
}
.submit-form-context-button{
    padding: 10px 40px 10px 40px;
    background: red;
    height: 41px;
    border-radius: 21px;
    margin-left: 38px;
}

.submit-form-context-button:hover{
    padding: 10px 40px 10px 40px;
    background: red;
    opacity: 0.7;
    cursor: pointer;
    height: 41px;
    border-radius: 21px;
    margin-left: 38px;
}

.submit-form-context-button:disabled,
.submit-form-context-button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  opacity: 1;
}
.chat-response-container{
    position: fixed;
    height: 90vh;
    width: 50%;
    /* top: 146px; */
    left: 50vw;
    flex-flow: wrap;
    overflow: scroll;
    /* overflow-y: scroll; */
    overflow-x: hidden;
    /* height: 85%; */
}
.system-response-item-container{
    display: flex;
    flex-direction: column;
}
.system-response-item-question{
    align-self: flex-start;
    margin-left: 48px;
    margin-right: 134px;

}

.system-response-item-answer{
    margin-right: 48px;
    align-self: flex-end;
    margin-left: 134px;
    width: 30vw;
}
.spiner-responding-container{
    position: fixed;
    top: 76vh;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    width: 100%;
    left: 68vw;
}
.App {
text-align: center;
}

.file-content-container {
    width: 45vw;     /* Sử dụng toàn bộ chiều rộng của viewport */
    height: 72vh;    /* Sử dụng toàn bộ chiều cao của viewport */
    overflow: auto;   /* Thêm thanh cuộn khi nội dung vượt quá kích thước container */
    margin: 20px;     /* Khoảng cách giữa nội dung và viền màn hình */
    padding: 10px;    /* Khoảng cách giữa nội dung và viền container */
    border: 1px solid #ccc; /* Viền cho container */
    white-space: pre-wrap; /* Giữ nguyên khoảng trắng và xuống dòng theo nội dung */
    word-wrap: break-word; /* Tự động xuống dòng khi từ quá dài */
    box-sizing: border-box; /* Bao gồm padding và viền vào kích thước phần tử */
}

pre {
    text-align: left;
    white-space: pre-wrap; /* Giữ nguyên khoảng trắng và xuống dòng theo nội dung */
    word-wrap: break-word; /* Tự động xuống dòng khi từ quá dài */
    margin: 0; /* Xóa khoảng cách mặc định */
}
p {
    text-wrap: wrap;
    word-wrap: break-word;
}
  